<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryg.chapter_2">

    <permission
        android:name="com.ryg.chapter_2.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.ryg.PROVIDER"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.ryg.PROVIDER" />
    <uses-permission android:name="com.ryg.chapter_2.permission.ACCESS_BOOK_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:configChanges="screenLayout"
            android:process=":remote" />
        <activity
            android:name=".ThirdActivity"
            android:configChanges="screenLayout"
            android:process=":remote3" />

        <activity
            android:name=".aidl.BookManagerActivity"
            android:exported="true"
            android:label="@string/title_activity_book_manager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category._LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".messenger.MessengerActivity"
            android:exported="true"
            android:label="@string/title_activity_messenger">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service
            android:name=".messenger.MessengerService"
            android:exported="false"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.ryg.MessengerService.launch" />
            </intent-filter>
        </service>

        <service
            android:name=".aidl.BookManagerService"
            android:process=":remote" />

        <activity
            android:name=".provider.ProviderActivity"
            android:exported="true"
            android:label="@string/title_activity_provider">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category._LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.BookProvider"
            android:authorities="com.ryg.chapter_2.book.provider"
            android:permission="com.ryg.PROVIDER"
            android:process=":provider" />

        <service
            android:name=".socket.TCPServerService"
            android:process=":remote" />

        <activity
            android:name=".socket.TCPClientActivity"
            android:label="@string/title_activity_tcpclient"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category._LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".binderpool.BinderPoolService"
            android:process=":remote" />

        <activity
            android:name=".binderpool.BinderPoolActivity"
            android:label="@string/title_activity_binder_pool"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>